<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Registries
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button :buttons="headerButtons"
                            @onShowNewRegistrySidebar="showNewRegistrySidebar"
        />
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12" class="mt-3">
                    <registry-datatable :key="registryDatatableKey"
                                        @onOpenRegistrySidebar="openRegistrySidebar"/>
                </b-col>
            </b-row>
        </b-container>

        <octo-sidebar-right
            :show-sidebar="showSidebar"
            title="Inserisci nuova anagrafica"
            @onHidden="showSidebar = false"
            @onSaveRegistry="saveRegistry"
            :buttons="sidebarButtons">
            <registry-form :key="registryFormKey" :registry="currentRegistry"></registry-form>
        </octo-sidebar-right>

    </div>
</template>

<script>
import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";

import {Registry} from "../models/registry";
import RegistryDatatable from "../datatables/RegistryDatatable";
import RegistryForm from "../forms/RegistryForm";
import {routes} from "../routes";

export default {
    name: "RegistryView",
    components: {RegistryForm, RegistryDatatable, OctoHeaderButton, OctoSidebarRight},
    data() {
        return {
            headerButtons: [
                {
                    label: 'Aggiungi anagrafica',
                    onClick: 'onShowNewRegistrySidebar',
                    icon: 'plus'
                },
            ],
            showSidebar: false,
            currentRegistry: this.$_.cloneDeep(Registry),
            registryDatatableKey: 1,
            sidebarButtons: [
                {
                    label: 'salva',
                    onClick: 'onSaveRegistry',
                    icon: 'floppy-disk',
                },
            ],
            registryFormKey:1,
        }
    },
    methods: {
        showNewRegistrySidebar() {
            this.showSidebar = true;
            this.currentRegistry=this.$_.cloneDeep(Registry);
            this.registryFormKey++;
        },

        openRegistrySidebar(item) {
            console.log(item);
        },
        saveRegistry() {

            this.$fullLoading.show();
            this.$api({
                method: this.currentRegistry.id ? 'put' : 'post',
                url: this.currentRegistry.id
                    ? routes.REGISTRY_UPDATE.replace('{id}', this.currentRegistry.id)
                    : routes.REGISTRY_STORE,
                data: this.currentRegistry
            }).then(() => {
                this.$fullLoading.hide();
                this.$bvToast.toast('Anagrafica salvata correttamente', {
                    title: 'Saving...',
                    variant: 'success'
                });
                this.registryDatatableKey++;
                this.showSidebar = false;
            }).catch(() => {
                this.$fullLoading.hide();
                this.$bvToast.toast('Anagrafica non salvato', {
                    title: 'Saving...',
                    variant: 'danger'
                });
            })
        }
    }
}
</script>

<style scoped lang="scss">

</style>
