<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Users
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button :buttons="headerButtons"
                            @onOpenUserSidebar="openUserSidebar"/>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12" class="mt-3">
                    <user-datatable :key="userDatatableKey"
                                    @onOpenUserSidebar="openUserSidebar"
                                    @onGenerateNewPassword="generateNewPassword"/>
                </b-col>
            </b-row>
        </b-container>
        <octo-sidebar-right
            :show-sidebar="showSidebar"
            :buttons="sidebarButtons"
            @onHidden="showSidebar = false"
            @onSaveUser="saveUser"
        >
            <user-form
                ref="userForm"
                :key="userInfoKey"
                :user="currentUser"
                :roles="roles"/>
        </octo-sidebar-right>
    </div>
</template>

<script>
    import {routes} from "../routes";
    import User from "../models/user";
    import UserDatatable from "../datatables/UserDatatable";
    import UserForm from "../forms/UserForm";
    import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
    import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";

    export default {
        name: "UsersView",
        components: {OctoSidebarRight, UserForm, UserDatatable, OctoHeaderButton},
        data() {
            return {
                headerButtons: [
                    {
                        label: 'Aggiungi utente',
                        onClick: 'onOpenUserSidebar',
                        icon: 'plus'
                    },
                ],
                sidebarButtons: [
                    {
                        label: 'salva',
                        onClick: 'onSaveUser',
                        icon: 'floppy-disk',
                    },
                ],
                showSidebar: false,
                currentUser: User,
                userDatatableKey: 1,
                userInfoKey: 1,
                roles: [],
            }
        },
        methods: {

            openUserSidebar: function (item) {
                this.titleSidebar = item ? item.name : 'Nuovo User';
                this.currentUser = item ? this.$_.cloneDeep(item) : this.$_.cloneDeep(User);
                this.userInfoKey++;
                this.showSidebar = true;
            },

            saveUser: function () {
                if (this.$refs.userForm.validate()) {
                    this.$fullLoading.show();
                    this.$api({
                        method: this.currentUser.id ? 'put' : 'post',
                        url: this.currentUser.id
                            ? routes.USER_UPDATE.replace('{id}', this.currentUser.id)
                            : routes.USER_STORE,
                        data: this.currentUser
                    }).then(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('User salvato correttamente', {
                            title: 'Saving...',
                            variant: 'success'
                        });
                        this.userDatatableKey++;
                        this.showSidebar = false;
                    }).catch((err) => {
                        this.$fullLoading.hide();
                        this.$errorMessageHandler.display(err);
                    })
                }
            },
            getRoles() {
                this.$api.get(routes.ROLE_INDEX)
                    .then((resp) => {
                        this.roles = resp.data;
                    }).catch(() => {
                    this.$bvToast.toast('Ruoli non caricati', {
                        title: 'Saving...',
                        variant: 'danger'
                    });
                });
            },
            generateNewPassword(user) {
                this.$bvModal.msgBoxConfirm(
                    'Sei sicuro di voler generare una nuova password per questo utente?', {
                        title: 'Generare nuova password',
                        size: 'sm',
                        buttonSize: 'sm',
                        okVariant: 'primary',
                        cancelVariant: 'dark',
                        okTitle: 'SI',
                        cancelTitle: 'NO',
                        footerClass: 'p-1',
                        headerClass: 'py-1 px-2',
                        hideHeaderClose: true,
                        noCloseOnBackdrop: true,
                        noCloseOnEsc: true,
                        centered: true
                    })
                    .then(value => {
                            if (value) {
                                this.$fullLoading.show();
                                this.$api.put(routes.USER_GENERATE_NEW_PASSWORD.replace('{id}', user.id))
                                    .then(() => {
                                        this.$fullLoading.hide();
                                        this.$bvToast.toast('Password generata con successo', {
                                            title: 'Saving...',
                                            variant: 'success'
                                        });
                                    }).catch(() => {
                                    this.$fullLoading.hide();
                                    this.$bvToast.toast('Password non generata', {
                                        title: 'Saving...',
                                        variant: 'danger'
                                    });
                                });
                            }
                        }
                    );
            }
        },
        async mounted() {
            await this.getRoles();
        }
    }
</script>

<style scoped lang="scss">

</style>
