<template>
    <b-container>
        <b-row class="mb-3">
            <b-col cols="12">
                Gestisci i contenuti riguardo a questa anagrafica
            </b-col>
        </b-row>

        <b-row class="mb-3">

            <b-col cols="12" class="mb-3">
                <octo-input label="Codice Interno" name="code" v-model="registryLocal.code" maxlength="10"></octo-input>
            </b-col>

            <b-col cols="12">
                <octo-radio-group title="Tipo anagrafica"
                                  name="type"
                                  :values="registry_type"
                                  v-model="registryLocal.type"
                                  @change="(value) =>{ currentType=value; }"
                                  :initialValue="registryTypeConst.COMPANY"/>
            </b-col>

        </b-row>

        <b-row class="mb-3" v-show="currentType === registryTypeConst.PRIVATE">
            <b-col cols="12">
                <octo-input label="Nome" name="name" v-model="registryLocal.privateRegistry.name"
                            maxlength="30"></octo-input>
            </b-col>

            <b-col cols="12">
                <octo-input label="Cognome" name="surname" v-model="registryLocal.privateRegistry.surname"
                            maxlength="30"></octo-input>
            </b-col>
        </b-row>

        <b-row class="mb-3" v-show="currentType === registryTypeConst.COMPANY">
            <b-col cols="12">
                <octo-input label="Nome Azienda" name="businessname" v-model="registryLocal.companyRegistry.businessname"
                            maxlength="30"></octo-input>
            </b-col>

        </b-row>

    </b-container>
</template>

<script>
import {Registry} from "../models/registry";
import {RegistryType} from "../models/registry";

import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
import OctoRadioGroup from "@octoCmsComponents/octo-radio-group/OctoRadioGroup";

export default {
    name: "RegistryForm",
    components: {OctoInput, OctoRadioGroup},
    data() {
        return {
            registryLocal: Registry,
            currentLang: 'it',
            registry_type: [
                {"value": RegistryType.COMPANY, "label": "Azienda"},
                {"value": RegistryType.PRIVATE, "label": "Privato"}
            ],
            currentType:RegistryType.COMPANY,
            registryTypeConst:RegistryType
        }
    },
    props: {
        registry: {
            type: Object,
            default: () => Registry
        },
    },
    methods: {
    },
    mounted() {
        this.registryLocal = this.registry;
    }
}
</script>
<style lang="scss">
</style>
