<template>
    <b-container fluid>
        <b-row>
            <b-col cols="6">
                <b-container fluid>
                    <b-row class="mb-3">
                        <b-col cols="12">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi
                            ut
                            aliquip ex ea commodo consequat.
                        </b-col>
                    </b-row>
                    <hr>
                    <b-row class="mb-3">
                        <b-col cols="12">
                            <octo-input name="admin_mail" label="admin mail" v-model="localSettings.admin_mail"
                                        class="mb-3"/>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
            <b-col cols="6">
                <b-container fluid>
                    <b-row>
                        <b-col cols="12">
                            <b-alert variant="primary" class="text-uppercase py-1 mt-3" show>
                                Active Campaign
                            </b-alert>
                        </b-col>
                    </b-row>
                    <b-row class="mb-3">
                        <b-col cols="12" class="d-flex mb-3">
                            <b-card no-body class="p-2">
                                <div class="d-flex align-items-center justify-content-between ">
                                    <div class="mr-3 mt-1 text-uppercase">enabled</div>
                                    <b-form-checkbox v-model="localSettings.active_campaign.enabled" switch/>
                                </div>
                            </b-card>
                            <octo-input class="flex-grow-1 ml-3"
                                        append="api key"
                                        name="apiKey"
                                        v-model="localSettings.active_campaign.api_key"/>
                        </b-col>
                        <b-col cols="12" class="mb-3">
                            <octo-input class="flex-grow-1"
                                        append="url"
                                        name="url"
                                        v-model="localSettings.active_campaign.url"/>
                        </b-col>
                        <b-col cols="12">
                            <octo-input class="flex-grow-1"
                                        append="list id"
                                        name="list"
                                        v-model="localSettings.active_campaign.list_id"/>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import {mapGetters} from "vuex";
    import CoreSettings from "../resources/coreSettings";
    import OctoInput from "@/components/octo-input/OctoInput";

    export default {
        name: "SettingsForm",
        components: {OctoInput},
        data() {
            return {
                localSettings: this.$_.cloneDeep(CoreSettings),
            }
        },
        mounted() {
            this.$_.each(this.localSettings, (item, key) => {
                this.localSettings[key] = this.settings[key];
            });
        },
        methods: {
            getSettings() {
                return this.$_.map(this.localSettings, (value, name) => {
                    return {
                        name: name,
                        value: value
                    }
                });
            },
        },
        computed: {
            ...mapGetters({
                settings: 'core/settings'
            })
        }
    }
</script>

<style scoped>

</style>
