<template>
    <b-container>
        <b-row class="mb-3">
            <b-col cols="12">
                Gestisci i contenuti riguardo a questo User
            </b-col>
        </b-row>
        <b-row class="mb-3">
            <b-col cols="12">
                <octo-input label="Username"
                            name="username"
                            v-model="userLocal.username"
                            :error="errors.username"
                            @input="errors.username = false"
                />
            </b-col>
        </b-row>
        <b-row class="mb-3">
            <b-col cols="12">
                <octo-input label="Default Email"
                            name="defaultEmail"
                            v-model="userLocal.defaultEmail"
                            :error="errors.defaultEmail"
                            @input="errors.defaultEmail = false"
                />
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12">
                <octo-multiselect
                    label="roles"
                    name="roles"
                    :hide-selected="false"
                    :multiple="true"
                    :options="roles"
                    @input="errors.roles = false"
                    v-model="userLocal.roles"/>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import User from "../models/user";
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
    import OctoMultiselect from "@octoCmsComponents/octo-multi-select/OctoMultiselect";

    export default {
        name: "UserForm",
        components: {OctoMultiselect, OctoInput},
        data() {
            return {
                userLocal: User,
                currentLang: 'it',
                octoImageEntityKey: 1,
                errors: {}
            }
        },
        props: {
            user: {
                type: Object,
                default: () => User
            },
            roles: {
                type: Array,
                default: () => []
            }
        },
        mounted() {
            this.userLocal = this.user;
        },
        methods: {
            validate() {
                this.errors = {}

                if (this.userLocal.username === '') {
                    this.errors.username = true;
                }

                if (this.userLocal.defaultEmail === '') {
                    this.errors.defaultEmail = true;
                }

                if (this.userLocal.roles.length === 0) {
                    this.errors.roles = true;
                }

                return this.$_.isEmpty(this.errors);
            }
        }
    }
</script>
<style lang="scss">
</style>
