<template>
    <octo-table
        :action="routes.DATATABLES.registries"
        :fields="fields"
        :filters="filters"
        :show-filters="true"
        name="RegistryDataTable"
    >
        <template v-slot:cell(id)="data">
            <div>{{data.item.id}}</div>
        </template>

        <template v-slot:cell(code)="data">
            <div>{{data.item.code}}</div>
        </template>

        <template v-slot:cell(type)="data">
            <div>{{data.item.type}}</div>
        </template>

        <template v-slot:cell(name)="data">
            <div>{{getRegistryName(data.item)}}</div>
        </template>

        <template v-slot:cell(email)="data">
            <div>{{data.item.defaultEmail}}</div>
        </template>

        <template v-slot:cell(actions)="data">
            <div class="mx-2" v-on:click="$emit('onOpenRegistrySidebar', data.item)">
                <octo-icon icon="open-folder"/>
            </div>
        </template>
    </octo-table>
</template>

<script>
    import OctoTable from "@octoCmsComponents/octo-table/OctoTable";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import {routes} from "../routes";

    export default {
        name: "RegistryDatatable",
        components: {OctoIcon, OctoTable},
        data() {
            return {
                routes: routes,
                filters: {},
                fields: [
                    {key: 'id', label: 'ID', class: 'text-center'},
                    {key: 'code', label: 'Code', class: 'text-left'},
                    {key: 'type', label: 'Type', class: 'text-left'},
                    {key: 'name', label: 'Name', class: 'text-left'},
                    {key: 'email', label: 'Email', class: 'text-left'},
                    {key: 'actions', label: '', class: 'text-right'},
                ]
            }
        },
        methods: {
            getRegistryName(registry) {
                if (!this.$_.isEmpty(registry.privateRegistry)) {
                    const name = registry.privateRegistry.name || '';
                    const surname = registry.privateRegistry.surname || '';
                    return name + ' ' + surname;
                }

                if (!this.$_.isEmpty(registry.companyRegistry)) {
                    return registry.companyRegistry.businessname;
                }

                return 'N.D.';
            }
        }
    }
</script>

<style scoped>

</style>
