<template>
    <octo-table
        :action="routes.DATATABLES.users"
        :fields="fields"
        :filters="filters"
        :show-filters="true"
        name="UserDataTable"
    >
        <template v-slot:cell(id)="data">
            <div>{{data.item.id}}</div>
        </template>

        <template v-slot:cell(name)="data">
            <div>{{data.item.username || 'N.D.'}}</div>
        </template>

        <template v-slot:cell(email)="data">
            <div>{{data.item.defaultEmail || 'N.D.'}}</div>
        </template>

        <template v-slot:cell(roles)="data">
            <div v-for="(role, index) in data.item.roles" v-bind:key="index">{{role.name}}</div>
        </template>

        <template v-slot:cell(actions)="data">
            <div class="d-flex">
                <div class="mx-2" v-on:click="$emit('onOpenUserSidebar', data.item)">
                    <octo-icon icon="open-folder"/>
                </div>
                <div class="mx-2"
                     v-if="data.item.defaultEmail"
                     v-on:click="$emit('onGenerateNewPassword', data.item)">
                    <octo-icon icon="key"/>
                </div>
            </div>
        </template>
    </octo-table>
</template>

<script>
    import {routes} from "../routes";
    import OctoTable from "@octoCmsComponents/octo-table/OctoTable";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";

    export default {
        name: "UserDatatable",
        components: {OctoIcon, OctoTable},
        data() {
            return {
                routes: routes,
                filters: {},
                fields: [
                    {key: 'id', label: 'ID', class: 'text-center'},
                    {key: 'name', label: 'Name', class: 'text-left'},
                    {key: 'email', label: 'Email', class: 'text-left'},
                    {key: 'roles', label: 'Roles', class: 'text-left'},
                    {key: 'actions', label: '', class: 'text-right'},
                ]
            }
        },
    }
</script>

<style scoped>

</style>
